/* Указываем box sizing */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    /*min-height: 100vh;*/
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
    list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

a {
    text-decoration: none;
    color: black;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}

/* ------------------------------------------------------------------------------------------- */

body {
    /* background-color: rgb(58, 58, 58);
    color: rgb(182, 182, 174); */
    font-family: Nunito, sans-serif;
    /* font-family: Roboto, sans-serif; */
}

.wrapper {
    max-width: 1920px;
    padding: 20px;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
}
.category_wrap button {
    width: 100%;
    height: 70px;
    border: 1px solid gray;
    border-radius: 8px;
    font-size: 20px;
    cursor: pointer;
}
.category_wrap ul {
    list-style: none;
}

.goods_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
    gap: 20px;
    grid-template-rows: max-content;
}

.product {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 auto;
    width: 230px;
    border: 1px solid #bebebe;
    border-radius: 8px;
    padding: 10px;
    background: #f2f2f2;
}
.product img {
    border: 1px solid #bebebe;
    border-radius: 8px;
    margin: 0 auto;
}
.product div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}
.product div:last-child {
    justify-content: end;
}
.product div:last-child button {
    cursor: pointer;
    width: 100px;
    background: #fff37f;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 14px;
    height: 36px;
    user-select: none;
}
.product div:last-child button:hover {
    background: #fcea49;
}
.product div:last-child button:disabled {
    background: #c4c4c0;
    border: none;
    cursor: auto;
}
.available {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    color: green;
    font-size: 12px;
}
.product .title {
    padding-right: 5px;
}
.price_actual {
    text-wrap: nowrap;
}

.modalBackground {
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 100;
    backdrop-filter: blur(3px);
    opacity: 0;
    transition: 0.3s;
}

.modalWrap {
    z-index: 110;
    height: 50vh;
    height: 320px;
    width: 50vw;
    border: 1px solid gray;
    background: #f0f0f0;
    border-radius: 8px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
}

.modalActive {
    visibility: visible;
    opacity: 1;
}

.closeBtn {
    border-radius: 50%;
    border: 1px solid gray;
    font-size: 12px;
    background: gainsboro;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    margin: 0 0 5px 0;
    /* padding: 3px 6px; */
    max-width: 22px;
    max-height: 23px;
}

.modalWrap:hover .closeBtn {
    opacity: 1;
}
.product:hover .closeBtn {
    opacity: 1;
}
.productInCart:hover .closeBtn {
    opacity: 1;
}

h3 {
    text-align: center;
}

#title,
#price {
    width: 100%;
    margin-bottom: 20px;
}

input[type="submit"] {
    cursor: pointer;
}

.notification {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 120;
    position: fixed;
    bottom: 0;
    right: 0;
    margin: 20px;
    background: #71ff88;
    font-size: 32px;
    width: 300px;
    height: 150px;
    border: 1px solid gray;
    border-radius: 8px;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.notificationActive {
    visibility: visible;
    opacity: 1;
}
#filterForm {
    background: aliceblue;
    border-radius: 8px;
    text-align: center;
    margin: 10px 0;
    padding: 20px;
}
#filterForm > div {
    width: 100%;
    padding: 20px 0;
}

#minDigit,
#maxDigit {
    width: 100%;
}

.removeAllGoods {
    margin-top: 20px;
}

.orderBy {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.orderBy p {
    color: black;
    margin: 10px 0;
    cursor: pointer;
    background: aliceblue;
    border-radius: 8px;
    text-align: center;
    padding: 5px;
}
.orderBy p:hover {
    color: #535353;
}

.imgProduct {
    max-width: 100%;
    display: block;
}

.my-element {
    transition: opacity 0.5s ease-in-out;
}

.my-element.hidden {
    opacity: 0;
}

.mainWrapper {
    background: #fff;
    transition: 0.5s;
}
.nightMode {
    background: #12346f;
}
