.cartWrapper{
    display: grid;
    max-width: 1200px;
    grid-template-columns: 2fr minmax(400px, 1fr);
    margin: 0 auto;
    gap: 20px;
}

.productsWrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    gap: 20px;
    grid-template-rows: max-content;
    max-width: 900px;
    margin: 0 auto;
}

.product {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    border: 1px solid #bebebe;
    border-radius: 8px;
    padding: 10px;
    background: #f2f2f2;
}
.product div:nth-child(1) {
    grid-column: 1/5;

    /* justify-self: center; */
    display: grid;
    grid-template-columns: 50px 1fr;
    justify-items: center;
}

.product img {
    grid-column: 1/2;
    grid-row: 2/3;
    max-width: 200px;
    border-radius: 8px;
    border: 1px solid #bebebe;
}

.product h3:nth-child(3) {
    grid-column: 2/3;
    grid-row: 2/3;
    align-self: center;
    justify-self: center;
}

.product div:nth-child(4) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: fit-content;
    align-self: center;
    justify-items: center;
}

.product div:nth-child(4) p {
    font-size: 1.2rem;
    font-weight: bold;
}

.product button {
    cursor: pointer;
}

.priceWrap,
.amountWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
