.loader_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(0,0,0,0.4); */

    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;
}

.loader_message {
    padding: 15px;
    max-width: 400px;
    max-height: 250px;
    border-radius: 10px;
    background: center / contain no-repeat url("../../data/g0R5.gif");
    display: flex;
    justify-content: center;
    z-index: 5;
}